
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f2fd; 
    font-family: 'Arial', sans-serif;
}


.shoppingList {
    width: 30%;
    background-color: #fff; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    padding: 25px;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

